.example-container {
  display: flex;
  justify-content: center;
  align-items: center;
  //   height: 100vh;
}

.animated-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}
