.articleContainer {
  font-size: 24px;
  width: 80%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  word-wrap: break-word;
}

.articleContent {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: 20px;
  word-wrap: break-word;
}

.articleImages {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
