$primary-gradient: linear-gradient(90deg, #4e65ff, #92effd);
$font-family: 'Noto Sans', sans-serif;

.nav {
  width: 100%;
  background: $primary-gradient;

  .navbarContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 60px 20px;

    .navbarLogo {
      display: flex;
      align-items: center;

      img {
        cursor: pointer;
        object-fit: cover;
        height: 100px;
      }
    }

    .navbarSupportContent {
      display: flex;
      flex-direction: row;
      gap: 5px;
      cursor: pointer;

      .navbarSupport {
        font-family: $font-family;
        padding-left: 50px;
        text-decoration: underline;

        &.contact {
          padding-right: 50px;
        }
      }
    }
  }
}
