.galleryFooter {
  text-align: center;
  padding: 20px 0;
}

.galleryHeader {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .galleryItem {
    position: relative;
    margin: 10px;
    border-radius: 5px;

    &:hover .galleryCaption {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .galleryImage {
    width: 279px;
    height: 279px;
    object-fit: cover;

    border: 5px solid #333;
    border-radius: 8px;
    transition: border-color 0.3s ease;
  }

  .galleryCaption {
    position: absolute;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 37%, rgba(0, 212, 255, 1) 100%);
    color: white;
    padding: 5px;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;

    opacity: 0;
    font-family: 'Roboto', sans-serif;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
}
